* {
	margin: 0;
	padding: 0;
}

html {
	background: #222;
	overflow-x: hidden;
}

.mid {
    height: 322px
}



/* Animation road Top */

header {
	background: #14abba url(images/bg.png) repeat-x;
	-webkit-animation: move-road-top 15s infinite linear;
	height: 200px;
	position: relative;
	border-top: 10px solid #14abba;
	border-bottom: 10px solid #14abba;
}

@-webkit-keyframes move-road-top {
	from { background-position: 0 -50px; }
	to   { background-position: -533px -50px; }
}




/* Animation road Bot */

footer {
	background: #14abba url(images/bg.png) repeat-x;
	-webkit-animation: move-road-bot 15s infinite linear;
	height: 200px;
	position: relative;
	border-top: 10px solid #14abba;
	border-bottom: 10px solid #14abba;
}

@-webkit-keyframes move-road-bot {
	from { background-position: -533px -50px; }
	to   { background-position: 0 -50px; }
}




/* Animation Mario Top */

header #mario {
	position: absolute;
	top: 35px;
    right: 100%;
	-webkit-animation: drive-top 10s linear;
	z-index: 50;
}

@-webkit-keyframes drive-top {
	0%  {  top: 30px; right: 100%; }
	10% { top: 50px; right: 90%;   }
	20% { top: 30px; right: 80%;   }
	30% { top: 50px; right: 70%;   }
	40% { top: 30px; right: 60%;   }
	50% { top: 50px; right: 50%;   }
	60% { top: 30px; right: 40%;   }
	70% { top: 50px; right: 30%;   }
	80% { top: 30px; right: 20%;   }
	90% { top: 50px; right: 10%;   }
	100% { top: 30px; right: -10%; }
}




/* Animation Mario Bot */

footer #mario {
	position: absolute;
	top: 35px;
    left: 100%;
	-webkit-animation: drive-bot 10s 11.5s linear;
	z-index: 50;
    -moz-transform: scaleX(-1);    /* Gecko */
    -o-transform: scaleX(-1);      /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform: scaleX(-1);         /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

@-webkit-keyframes drive-bot {
	0%  {  top: 30px; left: 100%; }
	10% { top: 50px; left: 90%;   }
	20% { top: 30px; left: 80%;   }
	30% { top: 50px; left: 70%;   }
	40% { top: 30px; left: 60%;   }
	50% { top: 50px; left: 50%;   }
	60% { top: 30px; left: 40%;   }
	70% { top: 50px; left: 30%;   }
	80% { top: 30px; left: 20%;   }
	90% { top: 50px; left: 10%;   }
	100% { top: 30px; left: -10%; }
}



/* Animation Carapace Bot */

.carapace {
	position: absolute;
	top: 99px;
	right: 49%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-animation: kapow 10s 14s linear;
	z-index: 49;
	width: 30px;  
	height: auto;
}



@-webkit-keyframes kapow {
	0% { left: 75%; opacity: 1; }
	100% { left: -230%; }
}

/* 
	Animation Definitions 
*/


@-webkit-keyframes show-yourself {
	from { left: -1000px; }
	to   { left: 50px }
}